 .u-section-1 {
  background-image: linear-gradient(#4a9b7f, #0a3431);
}

.u-section-1 .u-sheet-1 {
  min-height: 2756px;
}

.u-section-1 .u-group-1 {
  width: 1110px;
  min-height: 2581px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 38px auto 0;
}

.u-section-1 .u-form-1 {
  height: 219px;
  width: 760px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 49px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-form-2 {
  height: 84px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 15px 311px 0 434px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -65px auto 0 168px;
}

.u-section-1 .u-form-3 {
  height: 371px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 760px;
  margin: 117px auto 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-5 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-6 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-8 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-7 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-form-4 {
  height: 84px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 15px 311px 0 434px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-8 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -66px auto 0 168px;
}

.u-section-1 .u-form-5 {
  height: 371px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 760px;
  margin: 117px auto 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-9 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-10 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-13 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-11 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-form-6 {
  height: 84px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 15px 311px 0 434px;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-12 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -65px auto 0 168px;
}

.u-section-1 .u-form-7 {
  height: 371px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 760px;
  margin: 135px auto 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-13 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-14 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-18 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-15 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-4 {
  background-image: none;
}

.u-section-1 .u-form-8 {
  height: 84px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 15px 311px 0 434px;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-16 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -66px auto 0 168px;
}

.u-section-1 .u-group-2 {
  width: 976px;
  min-height: 91px;
  height: auto;
  margin: 88px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 24px auto 0 0;
}

.u-section-1 .u-form-9 {
  height: 84px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: -57px 0 0 430px;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-label-17 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-1 .u-input-17 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-form-2 {
    margin-right: 226px;
    margin-left: 349px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 226px;
    margin-left: 349px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 226px;
    margin-left: 349px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 226px;
    margin-left: 349px;
  }

  .u-section-1 .u-group-2 {
    width: 912px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-form-9 {
    margin-left: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 2918px;
  }

  .u-section-1 .u-form-1 {
    width: 692px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 116px;
    margin-left: 239px;
  }

  .u-section-1 .u-form-3 {
    width: 692px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 116px;
    margin-left: 239px;
  }

  .u-section-1 .u-form-5 {
    width: 692px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 116px;
    margin-left: 239px;
  }

  .u-section-1 .u-form-7 {
    width: 692px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 116px;
    margin-left: 239px;
  }

  .u-section-1 .u-group-2 {
    width: 692px;
  }

  .u-section-1 .u-form-9 {
    margin-left: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 30px;
    margin-left: 153px;
  }

  .u-section-1 .u-form-3 {
    width: 520px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 30px;
    margin-left: 153px;
  }

  .u-section-1 .u-form-5 {
    width: 520px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 30px;
    margin-left: 153px;
  }

  .u-section-1 .u-form-7 {
    width: 520px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 30px;
    margin-left: 153px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-9 {
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 2990px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 103px;
  }

  .u-section-1 .u-form-3 {
    width: 320px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 103px;
  }

  .u-section-1 .u-form-5 {
    width: 320px;
  }

  .u-section-1 .u-form-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 103px;
  }

  .u-section-1 .u-form-7 {
    width: 320px;
  }

  .u-section-1 .u-form-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 103px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-form-9 {
    margin-left: 0;
  }
}